
card-mixin($padding, $titleFontSize, $descriptionFontSize, $titleRows, $descriptionRows)
  .cardsBlock
    &-content
      padding $padding
    &-title
      font-size $titleFontSize
      margin-bottom $padding
      max-height @font-size * ($titleRows + 0.1)
    &-description
      font-size $descriptionFontSize
      bottom $padding
      left $padding
      right $padding
      max-height @font-size * ($descriptionRows + 0.1)

.cardsBlock
  border 1px #eee solid
  box-shadow 0 0px 1px rgba(0,0,0,0.3)
  display block
  position relative
  margin-bottom 40px
  overflow hidden
  color #fff

  &:after
    content ""
    display block
    padding-top 75%

  &-content
  &-background
  &-overlay
  &-tooltip
    position absolute
    top 3px
    right @top
    bottom @top
    left @top

  &-title
  &-description
    overflow hidden
    line-height 1
    word-break break-word

  &-description
    position absolute

  &-content
    padding 10px
    box-sizing border-box
    z-index 2

  &-overlay
    background #000
    transition opacity .2s ease-in
    opacity .5
    z-index 1

  &-background
    display block
    background-repeat no-repeat
    background-position center
    background-size cover

  &-tooltip
    text-align center
    overflow hidden
    top auto
    background #000
    z-index 3
    height 50px
    padding-top 6px
    max-height 0
    opacity 0
    transition all .1s ease-in

  &:hover &-tooltip
    max-height 50px
    opacity .9

card-mixin(30px, 45px, 30px, 4, 5)

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
  card-mixin(26px, 26px, 16px, 4, 4)

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)
  card-mixin(18px, 18px, 16px, 4, 4)

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
  card-mixin(18px, 16px, 14px, 4, 4)

