body
  background #fafafa
  min-width 600px

.content
  padding-top 20px
  padding-bottom 20px


@keyframes preloader {
  to {
    transform rotate(360deg)
  }
}


.preloader {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    transform scale(0)
  }
  100% {
    transform scale(1.0)
    opacity 0
  }
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform scale(1.0);
    opacity 0
  }
}